<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}

        
        {% assign docname = page.url | split: "/" | last %}
        {% assign toremove = "/" | append: docname %}
        {% assign dir = page.url | remove: toremove %}
        <div><a href="{{dir | append: '.html'}}">Back</a></div>
        
        <!-- Logic for getting previous and next chapter -->
        {% assign pagenumber = docname | plus: 0 %}
        {% assign prev = pagenumber | minus: 1 %}
        {% assign next = pagenumber | plus: 1 %}
        {% capture buttons %}
        <p style="height: 36px">
        {% for entry in site.documents %}
        {% if entry.url contains dir and entry.url != page.url %}
          {% assign entrynumber = entry.url | split: "/" | last | plus: 0 %}
          {% if entrynumber == 0 %} {% continue %} {% endif %}
          {% if entrynumber == prev %}
            {% assign button_name = "Previous" %}
            <span style="position: relative; font-size: x-large;"><a href="{{entry.url}}">{{"Previous"}}</a></span>
          {% elsif entrynumber == next %}
            <span style="position: relative; float:right; font-size: x-large;"><a href="{{entry.url}}">{{"Next"}}</a></span>
          {% endif %}
        {% endif %}
        {% endfor %}
        </p>
        {% endcapture %}
        {{ buttons }}
        
        <!-- For now we're just gonna do basic scrolling lol -->
        {% assign path = page.path | remove: ".md" | remove: "_" %}
        <h1><a href="https://twitter.com/agu_knzm/status/1512998788025110532">{{page.title}}</a></h1>
        {% for img in site.static_files %}
          {% if img.extname == ".png" and img.path contains path %}
          <img src="{{img.path}}" alt="{{img.basename}}" loading="lazy" width="100%">
          {% endif %}
        {% endfor %}

        {{ buttons }}

        {% if page.source-embed %}
        <h2>Source</h2>
        {{page.source-embed}}
        {% endif %}
        <h2>Transcripts</h2>
        <h3>Japanese</h3>
        {% for file in site.static_files %}
          {% if file.basename == "Japanese" and file.path contains path %}
            <embed src="{{file.path}}" width="100%" font-size="3em">
          {% endif %}
        {% endfor %}
        <h3>English</h3>
        {% for file in site.static_files %}
        {% if file.basename == "English" and file.path contains path %}
          <embed src="{{file.path}}" width="100%" font-size="3em">
        {% endif %}
        {% endfor %}

        <h4><a href="https://github.com/PhantomShift/phantomshift.github.io/tree/main/{{path}}">Translation GitHub Page</a></h4>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
